footer{
    display: flex;
    align-items: center;
    color: white;
    padding: 4% 4% 4%;
}
.footer__redes{
    width: 4%;
    margin: 1rem;
}
.footer__disclaimer{
    color: aqua;
    width: 33vh;
    text-align: center;}