footer{
    display: flex;
    align-items: center;
    color: white;
    padding: 4% 4% 4%;

    &__redes{
        width: 4%;
        margin: 1rem;
    }
    &__disclaimer{
        color: aqua;
        width: 33vh;
        text-align: center;}
}