/* media de tablet
 */
@media (min-width: 541px) and (max-width: 720px){

    .portada{
        height: 70vh;
    }
    .grid__conteiner{
        display: grid;
        border: 0.313rem solid rgb(242, 244, 245);
        grid-template-columns: 1fr 1fr;
        grid-template-areas:     
            "titulo titulo"
            "ferrero1 ferrero2" 
            "ferrero3 ferrero4"
            "ferrero5 ferrero6"
            "ferrero7 ferrero8" 
            "ferrero9 ferrero9";
        justify-content: center;
        justify-items: center;
        gap: 0.313rem
    }  
    ul{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    }
    
    /* media de celular
     */
    @media (min-width: 320px) and (max-width: 540px){
    .grid__index{
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
        grid-template-areas: "portada "
                            "resumen" 
                            "imagen__destacada"
                            "card__1" 
                            "card__2"
                            "card__3" 
                            "card__4";
    }
    .img__index{
        align-items: center;
    }
    header {
        flex-direction: column; 
        background-color: blue;
        align-items: center;
    
    }
    ul{
        flex-direction: column;
    }
    li a{ 
        color: rgb(220, 35, 192);
    }
    .header__navegacion{
        flex-direction: column;
    }
    .header__logo{
        width: 2rem;
    }
    .portada{
        height: 50vh;
    }
    .grid__conteiner{
        display: grid;
        border: 0.313rem solid rgb(242, 244, 245);
        grid-template-columns: 1fr;
        grid-template-areas:     
            "titulo"
            "ferrero1" 
            "ferrero2" 
            "ferrero3" 
            "ferrero4"
            "ferrero5" 
            "ferrero6"
            "ferrero7" 
            "ferrero8" 
            "ferrero9";
        justify-content: center;
        justify-items: center;
        gap: 0.313rem
    } 
    footer{
        flex-direction: column;
    }
    }