
/* TIPO DE LETRA */
$font-principal:Verdana, Geneva, Tahoma, sans-serif ;
$font-secundaria:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
/* COLOR DE BACK */
$back-principal:linear-gradient(to top, rgb(218, 39, 215), blue) ;
$back-secundario:aqua ;
/* COLOR DE BORDES */
$border-principal:rgb(228, 191, 144);
$borser_secundario:rgb(7, 81, 17);
/* COLOR DE LETRA */
$color-principal: rgb(68, 238, 136);
$color-secundario: rgb(19, 225, 225); 
