$color-principal:linear-gradient(to top, rgb(218, 39, 215), blue) ;
$color-secundario:rgb(19, 225, 225) ; 
$font-principal:Verdana, Geneva, Tahoma, sans-serif ;
$font-secundaria:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
$back-principal:aqua ;
$border-principal:rgb(228, 191, 144);
$borser_secundario:rgb(7, 81, 17);