@import 'variables';
@import 'footer';
@import 'mediaqueris';
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to top, rgb(218, 39, 215), blue);
}

/* main de index
 */
.portada{
    background-image: url(../recursos/imagenes/baner.jpg);
    height: 50vh;
    border-color: antiquewhite;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.index__main{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    flex-wrap: wrap;
    border: 0.5rem;
    justify-content: center;
    align-items: center;
    color: aqua;
}
.texto__index{
    justify-content: center;
    align-items: center;
    
}
.img__carrousel{
    height: 50rem;
    justify-content: center;
    align-items: center;
}

/* MAIN DE NOSOTROS
 */
.nosotros__letra{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0.5rem;
}
.imagen__animacion:hover{
    transform: scale(0.9);
    transition: all 2s;
}

/* MAIN DE CONTACTO
 */
.portada__contacto{
    background-image: url(../recursos/imagenes/tumomentopng.png);
    height: 70vh;
    border-color: rgb(228, 191, 144);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contacto__titulo{
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.main__contacto{
    align-items: center;
    background-color: rgb(27, 11, 197);
}
form{
    display: flex;
    justify-content: center;
}
.contacto__form{
    display: flex;    
    flex-direction: row;
    align-items: center;
    padding: 5%;
}
.contacto__div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto__div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
textarea{
    width: 70%;
    height: 50h;
    margin: 5%;
}
/* main del catalogo
 */
.grid__conteiner{
    display: grid;
    border: 0.313rem solid rgb(242, 244, 245);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:     
        "titulo titulo titulo"
        "ferrero1 ferrero2 ferrero3"
        "ferrero4 ferrero5 ferrero6"
        "ferrero7 ferrero8 ferrero9";
    justify-content: center;
    justify-items: center;
    gap: 0.313rem
}  

.catalogo__titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(33, 189, 87);
    
}
.grid__titulo{
    grid-area: titulo;
    color: brown;
    text-align: center;
}
.grid__ferrero1{
    grid-area: ferrero1;
}
.grid__ferrero2{
    grid-area: ferrero2;
}
.grid__ferrero3{
    grid-area: ferrero3;
}
.grid__ferrero4{
    grid-area: ferrero4;
}
.grid__ferrero5{
    grid-area: ferrero5;
}
.grid__ferrero6{
    grid-area: ferrero6;
}
.grid__ferrero7{
    grid-area: ferrero7;
}
.grid__ferrero8{
    grid-area: ferrero8;
}
.grid__ferrero9{
    grid-area: ferrero9;
}
.catalogo__main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1rem;
    border-color: rgb(7, 81, 17); 
    border-style: solid;
    border-radius: 1.25rem;
    background-color: bisque;
    
}
/* MAIN DE ENVIOS
 */
.envios__titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.envios__mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../recursos/Mapa-coberturas3.jpg);
}




/* FOOTER PARA TODOS
 */
footer{
    display: flex;
    align-items: center;
    color: white;
    padding: 4% 4% 4%;
}
.footer__redes{
    width: 4%;
    margin: 1rem;
}
.footer__disclaimer{
    color: aqua;
    width: 33vh;
    text-align: center;}

/* media de tablet
 */
@media (min-width: 541px) and (max-width: 720px){

.portada{
    height: 70vh;
}
.grid__conteiner{
    display: grid;
    border: 0.313rem solid rgb(242, 244, 245);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:     
        "titulo titulo"
        "ferrero1 ferrero2" 
        "ferrero3 ferrero4"
        "ferrero5 ferrero6"
        "ferrero7 ferrero8" 
        "ferrero9 ferrero9";
    justify-content: center;
    justify-items: center;
    gap: 0.313rem
}  
ul{
    flex-direction: column;
}
footer{
    flex-direction: column;
}
}

/* media de celular
 */
@media (min-width: 320px) and (max-width: 540px){
.grid__index{
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas: "portada "
                        "resumen" 
                        "imagen__destacada"
                        "card__1" 
                        "card__2"
                        "card__3" 
                        "card__4";
}
.img__index{
    align-items: center;
}
header {
    flex-direction: column; 
    background-color: blue;
    align-items: center;

}
ul{
    flex-direction: column;
}
li a{ 
    color: rgb(220, 35, 192);
}
.header__navegacion{
    flex-direction: column;
}
.header__logo{
    width: 2rem;
}
.portada{
    height: 50vh;
}
.grid__conteiner{
    display: grid;
    border: 0.313rem solid rgb(242, 244, 245);
    grid-template-columns: 1fr;
    grid-template-areas:     
        "titulo"
        "ferrero1" 
        "ferrero2" 
        "ferrero3" 
        "ferrero4"
        "ferrero5" 
        "ferrero6"
        "ferrero7" 
        "ferrero8" 
        "ferrero9";
    justify-content: center;
    justify-items: center;
    gap: 0.313rem
} 
footer{
    flex-direction: column;
}
}